@charset "UTF-8";
.main{
	border-top:1px solid ;
	border-bottom:1px solid ;
	text-align: center;
}


.main input{
	background-color: #dcdcdc;
}
.main p{
	font-size: 30px;
	text-align: center; 	
}
.select{
	display: flex;
	justify-content:center;	
	font-size: 25px;
	
}

button{
	display: inline-block;
	background-color: orange;
	text-align: center;
	font-size: 25px;
	padding: 7px 13px;
	margin:0 50px;
}
.select botann:hover{
  background-color: bisque;
}
.select a:hover {
  background-color: bisque;
}
.select a{
	padding: 7px 13px;
	
	 text-decoration: none;
	 color: black;
	 border: solid 3px #000000;
	 margin:0  50px;
	}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}